---
import Heading from "@/components/Heading.astro";
import Layout from "../layouts/Layout.astro";

import LatestPosts from "@/components/post/LatestPosts.astro";
import SocialIcons from "@/components/SocialIcons.astro";
---

<Layout title="Home">
	<section
		class="border-b border-(--border) transition-colors ease-in duration-500"
	>
		<span
			class="mb-6 relative z-10 inline-block before:content-[''] before:absolute before:top-8 before:left-0 before:right-0 before:h-[8px] before:z-0 before:w-auto before:bg-blue-500"
		>
			<Heading tag="h2" size="h2" class="relative z-10">
				Hi, I'm Paulina 👋
			</Heading>
		</span>
		<div class="text-18">
			<p>
				I'm on a journey to become a front-end web developer. I love building
				little projects, trying out new coding techniques, and sharing what I
				learn along the way. When I'm not at my desk, you'll find me reading,
				hiking through the mountains, or challenging myself on rock-climbing
				walls.
			</p>
			<br />
			<p>
				I started this blog to document my progress, keep myself accountable,
				and hopefully inspire anyone else who's learning to code. Welcome to my
				corner of the internet, and thanks for stopping by!
			</p>
		</div>
		<SocialIcons className="mt-6 mb-12" />
	</section>
	<LatestPosts />
</Layout>
