---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<p class="heading-1">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</p>
	<p class="heading-2">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</p>
	<p class="heading-3">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</p>
	<p class="heading-4">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</p>
	<p class="heading-5">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</p>
	<p class="heading-6">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
	</p>
</Layout>
