---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatum ex
		ut voluptas. Quis tenetur provident est aliquid perferendis rerum doloribus!
		Vel tenetur debitis cumque laudantium earum dicta ipsam dolorem dolor
		possimus totam quis magni et alias maiores, aspernatur ad fugiat voluptatem
		accusamus at nostrum obcaecati esse doloribus? Excepturi, repellat. Facilis,
		corrupti quod consequuntur laboriosam, alias vel fuga in, sapiente eum enim
		tenetur? Mollitia commodi voluptatum quo dicta a doloremque, dignissimos
		officia magni, corrupti praesentium quam. Quisquam harum, facilis a earum
		tempora nam ducimus assumenda ea alias distinctio impedit deserunt debitis
		recusandae illum. Veritatis blanditiis dolore voluptatem velit eos
		molestias?
	</p>
</Layout>
