---
import SocialIcons from "./SocialIcons.astro";
---

<footer
	class="mt-10 mx-5 border-t border-(--border) transition-colors duration-500 ease-in"
>
	<div class="flex justify-between items-center mt-10">
		<p>Made with ❤️ and ☕️</p>
		<SocialIcons />
	</div>
</footer>
