---
import Logo from "../assets/icons/logo.svg";
import Github from "../assets/icons/logo-github.svg";
import Linkedin from "../assets/icons/logo-linkedin.svg";
import Frontend from "../assets/icons/logo-frontend-mentor.svg";
import { Button } from "./ui/button";
import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<div class={cn("", className)}>
	<Button
		className="hover:bg-(--border) shadow-none bg-(--header-background) transition-colors ease-in duration-500 rounded-lg border border-(--border) focus:outline-none focus:ring-2 focus:ring-blue-500"
	>
		<Logo class="fill-(--icon-fill)" />
	</Button>
	<Button
		className="hover:bg-(--border) shadow-none bg-(--header-background) transition-colors ease-in duration-500 rounded-lg border border-(--border) focus:outline-none focus:ring-2 focus:ring-blue-500"
	>
		<Github class="fill-(--icon-fill) focus:outline-blue-500" />
	</Button>

	<Button
		className="hover:bg-(--border) shadow-none bg-(--header-background) transition-colors ease-in duration-500 rounded-lg border border-(--border) focus:outline-none focus:ring-2 focus:ring-blue-500"
	>
		<Linkedin class="fill-(--icon-fill) focus:outline-blue-500" />
	</Button>

	<Button
		className="hover:bg-(--border) shadow-none bg-(--header-background) transition-colors ease-in duration-500 rounded-lg border border-(--border) focus:outline-none focus:ring-2 focus:ring-blue-500"
	>
		<Frontend
			class="fill-(--icon-fill) focus:outline-none focus:ring-2 focus:ring-blue-500"
		/>
	</Button>
</div>
