---
const { post } = Astro.props;

const date = new Date(post.data.publishedAt);
const formatted = date.toLocaleDateString("en-US", {
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<article>
	<h5 class="heading-5 mb-2 hover:underline hover:text-(--heading-text)">
		<a
			class="focus:outline-none focus:ring-2 focus:ring-blue-500"
			href={`/posts/${post.data.slug}`}>{post.data.title}</a
		>
	</h5>
	<p class="text-16 italic">{formatted}</p>
</article>
