---
import { cn } from "@/lib/utils";

const { name, description, className } = Astro.props;
---

<section>
	<h2
		class={cn(
			"heading-2 relative after:content-[''] after:ml-2 after:absolute after:left-auto after:w-[40px] after:h-[3px] after:bottom-3 after:bg-blue-500",
			className
		)}
	>
		{name}
	</h2>
	{description && <p class="text-18">{description}</p>}
</section>
