---
import { formatTime } from "@/lib/utils";

const { post } = Astro.props;
---

<article>
	<header>
		<h5 class="heading-5 mb-2 hover:underline hover:text-(--heading-text)">
			{post.data.title}
		</h5>
		<p class="text-16 italic">
			{formatTime(post.data.publishedAt.toDateString())}
		</p>
	</header>
</article>
