---
import Heading from "../Heading.astro";

const { name, description } = Astro.props;
---

<section>
	<Heading
		tag="h2"
		size="h2"
		class="mt-12 relative after:content-[''] after:ml-2 after:absolute after:left-auto after:w-[40px] after:h-[3px] after:bottom-3 after:bg-blue-500"
	>
		{name}
	</Heading>
	{description && <p class="text-18">{description}</p>}
</section>
