---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

import Header from "@/components/header/Header.astro";
---

<html lang="en">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Personal Blog</title>

		<!-- this will run before html is rendered -->
		<script is:inline>
			function applyTheme(doc) {
				// 1. Get the stored theme preference from localStorage
				const storedTheme = localStorage.getItem("theme") || "light";

				doc.documentElement.setAttribute("data-theme", storedTheme);
			}

			// Apply theme on initial page load
			applyTheme(document);

			// Apply theme to the new document during Astro View Transitions
			document.addEventListener("astro:before-swap", (event) => {
				applyTheme(event.newDocument);
			});
		</script>
	</head>

	<body
		class="bg-(--background-color) text-(--text-color) transition-all duration-500 ease-in font-body max-w-[640px] mx-auto px-[1.875rem] md:px-0"
	>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
