---
import ThemeIcon from "@/components/ThemeIcon.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Personal Blog</title>
	</head>

	<body class="font-sans max-w-[640px] mx-auto px-[1.875rem] md:px-0">
		<ThemeIcon />
		<slot />
	</body>
</html>
